body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text: #008001;
}

#tree-wrapper {
  margin-left: 100px;
  margin-right: 100px
}

.green-text text {
  fill: var(--text);
}

.svg{
  display:inline-block;
  width:10em;
  height: 10em;
  border: 1px solid #ccc
}

.input-box {
  width: 100%;
}
